html {
  overflow-y: scroll;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
}

header {
  background: rgba(0,0,0,.5);
}

section,
body > header {
  margin: auto;
  width: 85%;
}

a {
  &, &:link, &:visited {
    color: blue;
  }
  &:hover {
    color: red;
  }
  &:active {
    color: white;
  }
}

header {
  h3 {
    text-transform: capitalize;
  }
  p {
    font-weight: bold;
  }
}
